@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*---------------------------Navbar---------------------------*/
.navbar{
    padding-top:7;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
} 
.navbar .navbar-brand:hover{
    color:red;
}
.bg-light{
    background-color: #00000000 !important;
}

.alert-link{
    color: #e02200;  
}
.alert-link:hover{
    color: #fff;
    text-decoration:none;
}
/*---------------------------Body---------------------------*/
body{
    font-family:"Josefin Sans", sans-serif;
    color:#fff;
    background:url("../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.layer {
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*----------------------------Header---------------------------*/
.jumbotron{
    background-color:transparent;
    position:relative;
    top:10px;
}

.jumbotron h1{
    font-weight:bold;
    margin-bottom:15px;
    font-size:6rem;
}
.jumbotron .lead{
    margin:25px 0;
    font-size:2rem;
}
.rounded{
    width:300px;
    height:5px;
    background-color:#e02200;
}

.callout-container{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
/*----------------------------Menu-----------------------------*/
.menu-container{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

.menu-items li a i{
    font-size:150px;
    color:white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.menu-items a i{
    padding-right:30px;
    padding-bottom:20px;
    
}

.menu-items li a i:hover{
    color:#e02200;
}

/*----------------------------Footer---------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align:left;
  margin:0;
  position:absolute;
}

footer h4{
    position:relative;
    top:35px;
}
.social-links {
    padding-bottom: 20px;
    Text-align:right;
    margin-bottom:0;
}

.social-links li a i {
    font-size: 40px;
    line-height: 15px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e02200;
}