
/*---------------------------Newsletter-Alert---------------------------*/

.alert-light .alert-link:hover{
    color: #e02200;
    text-decoration:underline;
    text-align:center;
}
.alert-light{
    background-color:rgba(255, 255, 255, 0.123);
    border:none;
}
.alert-light .alert-link{
    color:#ffffff;
    font-size:1rem;
    text-decoration:underline;
}

/*---------------------------Body---------------------------*/

html{
    height:100%;
}

body{
    font-family:"Josefin Sans", sans-serif;
    color:#fff;
}
.home-container{
    height:100vh;
    background:url("../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height:100%; 
}
.home-overlay {
    position:fixed;
    left:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

/*----------------------------Homepage-Jumbotron---------------------------*/

.jumbotron{
    background-color:transparent;
    position:relative;
    top:75px; 
}
.jumbotron h1{
    font-weight:bold;
    margin-bottom:15px;
    font-size:6rem;
}
.jumbotron .lead{
    margin:25px 0;
    font-size:2rem;
}
.rounded{
    width:300px;
    height:5px;
    background-color:#e02200;
}
.callout{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.btn-primary{
    background-color:#e02200;
    border:none;
    font-size:1.5rem;
}
.btn:hover{
    background-color:#a11800;
}
.btn.btn-primary.btn-lg.btn-block:active,
.btn.btn-primary.btn-lg.btn-block:hover,
.btn.btn-primary.btn-lg.btn-block:focus,
.btn.btn-primary.btn-lg.btn-block:active:focus {
  background-color:#a11800;
  box-shadow:none!important;
}

/*----------------------------Footer---------------------------*/

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align:left;
  margin-left:20px;
  margin-right:20px;
  position:fixed;
}
footer h4{
    position:relative;
    top:35px;
}
.social-links {
    padding-bottom: 20px;
    Text-align:right;
    margin-bottom:0;
    margin-right:40px;
}
.social-links li a i {
    font-size: 40px;
    line-height: 15px;
    color: #fafafa;
}   
.social-links li a i:hover {
    color: #e02200;
}

/*---------------------------Background for Menu and Options---------------------------*/

body{
    background:url("../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;   
}
.opaque-overlay {
    position:fixed;
    left:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
/*----------------------------Menu "X" Alert-----------------------------*/

.alert-dark .alert-link:hover{
    color:#e02200;
    text-decoration:none;
}
.alert-dark{
    background-color:transparent;
    border:none;
}
.alert-dark .alert-link{
    color:rgb(255, 255, 255);
}

.alert-link{
    font-size:1.5rem;
}

/*----------------------------Menu-----------------------------*/

.menu-items{
    display:flex;
    position:relative;
    margin-top:100px;
    align-items:center;
    justify-content:center;
}
.menu-items a i{
    font-size:135px;
    color:white;
    margin-right:35px;
}
.menu-items a i:hover{
    color:#e02200;
}
.m-item{
    text-align:center;
    margin-left:25px;
    margin-right:0px;   
}
.m-item h5{
    text-align:center;
    position:relative;
    padding-top:10px;
    padding-bottom:30px;
    margin-right:35px;
}

/*----------------------------Café/Parks/Selfie/Burger Pages---------------------------*/

.header h1{
    text-align:center;
}
.location{
    text-align:center;
    padding-top:20px;
}
.location h3{
    text-decoration:underline 2px #e02200;
}
.location img{
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
}
.location-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align:left;
  margin-left:15px;
  margin-right:15px;
  position:relative;
  padding-top:150px;
}

.btn-toki{
    margin-top:40px;
}
.btn-kruimel{
    margin-top:40px;
}

/*----------------------------Form-Section---------------------------*/

.signup{
    position:relative;
    text-align:center;
    
}
form{ 
    display:inline-block;
    border:3px; 
    border-style:solid; 
    border-color:#e02200;
    border-radius:10px;
    padding:30px;
    background-color:rgba(0, 0, 0, 0.322);
}
input{
    display:block;
    width:100%;
    padding:5px;
    height:60px;
    text-align:center;
    margin:20px 0;
    border:none;
    border-radius:5px;
}

/*----------------------------Media Queries---------------------------*/

@media (max-width: 995px) {
    .footer h4{
        display:none;
    }
    .menu-footer h4{
        display:none;
    }
    .social-links{
        text-align:center;
        margin-bottom:15px;
    }
    .location-footer h4{
        display:none;
    }
}

@media (max-width: 650px) {
    .jumbotron h1{
        font-size:4rem;
    }  
}

@media (max-width: 575px) {
    .jumbotron h1{
        margin-top:32px;
    }
}
@media (max-width: 400px) {
    .jumbotron h1{
        font-size:3.5rem;
    }
}
    
@media (max-width: 575px) {
    .menu-items a i{
        font-size:95px;
    }
}

@media (max-width: 992px) {
    .location{
        padding-top:75px;
    }
}

@media (min-width: 2500px) {
    .jumbotron{
        top:300px;
    }
    .jumbotron h1{
        font-size:10rem;
    }
    .jumbotron .lead{
        font-size:3.5rem;
    }
    .btn-primary{
        font-size:2rem;
    }
    .alert-light .alert-link{
        font-size:2rem;
    }
    .social-links li a i{
        font-size:4rem;
    }
    .footer h4{
        font-size:3rem;
    }
    .alert-link{
        font-size:3rem;
    }
    .menu-items a i{
        font-size:17rem;
    }
    .m-item h5{
        font-size:2rem;
    }
    .h4, h4{
        font-size:3rem;
    }
    .h1, h1{
        font-size:5rem;
    }
    .rounded{
        width:750px;
        height:10px;
    }
    .btn-winkel{
        margin-top:40px;
    }
    .location p{
        font-size:2rem;
    }
    .h3, h3{
        font-size:3rem;
    }
    .location{
        padding-top:60px;
    }
    .selfie-footer{
        margin-top:150px;
    }
    input{
    height:80px;
    width:600px;
    font-size:2rem;
    }
    .h2, h2{
    font-size:3rem;
    }
}
