
/*---------------------------Newsletter-Alert---------------------------*/

.alert-light .alert-link:hover{
    color: #e02200;
    text-decoration:underline;
    text-align:center;
}
.alert-light{
    background-color:rgba(255, 255, 255, 0.123);
    border:none;
}
.alert-light .alert-link{
    color:#ffffff;
    font-size:1rem;
    text-decoration:underline;
}

/*---------------------------Body---------------------------*/

html{
    height:100%;
}

body{
    font-family:"Josefin Sans", sans-serif;
    color:#fff;
}
.home-container{
    height:100vh;
    background:url("../images/amsterdam.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height:100%; 
    right:0;
    left:0;
}
.home-overlay {
    position:fixed;
    left:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
/*----------------------------Homepage-Jumbotron---------------------------*/
.jumbotron{
    background-color:transparent;
    position:relative;
    top:75px; 
}
.jumbotron h1{
    font-weight:bold;
    margin-bottom:15px;
    font-size:6rem;
}
.jumbotron .lead{
    margin:25px 0;
    font-size:2rem;
}
.rounded{
    width:300px;
    height:5px;
    background-color:#e02200;
}
.callout{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.btn-primary{
    background-color:#e02200;
    border:none;
    font-size:1.5rem;
}
.btn:hover{
    background-color:#a11800;
}
.btn.btn-primary.btn-lg.btn-block:active,
.btn.btn-primary.btn-lg.btn-block:hover,
.btn.btn-primary.btn-lg.btn-block:focus,
.btn.btn-primary.btn-lg.btn-block:active:focus {
  background-color:#a11800;
  box-shadow:none!important;
}
/*----------------------------Footer---------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align:left;
  margin-left:20px;
  margin-right:20px;
  position:fixed;
}
footer h4{
    position:relative;
    top:35px;
}
.social-links {
    padding-bottom: 20px;
    Text-align:right;
    margin-bottom:0;
    margin-right:40px;
}
.social-links li a i {
    font-size: 40px;
    line-height: 15px;
    color: #fafafa;
}   
.social-links li a i:hover {
    color: #e02200;
}
/*---------------------------Background for Menu and options---------------------------*/
.background-container{
    background:url("../images/amsterdam.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    right:0;
    left:0;
}
.opaque-overlay {
    position:fixed;
    left:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
/*----------------------------Menu-Alert-----------------------------*/
.alert-dark .alert-link:hover{
    color:#e02200;
    text-decoration:none;
}
.alert-dark{
    background-color:transparent;
    border:none;
}
.alert-dark .alert-link{
    color:white;
}

.alert-link{
    font-size:1.5rem;
}
/*----------------------------Menu-----------------------------*/
.menu-items{
    display:flex;
    position:relative;
    margin-top:100px;
    align-items:center;
    justify-content:center;
}
.menu-items a i{
    font-size:135px;
    color:white;
    margin-right:35px;
}
.menu-items a i:hover{
    color:#e02200;
}
.m-item{
    text-align:center;
    margin-left:25px;
    margin-right:0px;   
}
.m-item h5{
    text-align:center;
    position:relative;
    padding-top:10px;
    padding-bottom:30px;
    margin-right:35px;
}
/*----------------------------Café-page---------------------------*/
.header h1{
    text-align:center;
}
.cafe{
    text-align:center;
    padding-top:20px;
}
.cafe h3{
    text-decoration:underline 2px #e02200;
}
.cafe img{
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
}
.cafe-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align:left;
  margin-left:20px;
  margin-right:20px;
  position:relative;
  padding-top:75px;
}
/*----------------------------Media Queries---------------------------*/
@media (max-width: 995px) {
    .footer h4{
        display:none;
    }
    .menu-footer h4{
        display:none;
    }
    .social-links{
        text-align:center;
        margin-bottom:15px;
    }
    .cafe-footer h4{
        display:none;
    }
}

@media (max-width: 650px) {
    .jumbotron h1{
        font-size:4rem;
    }  
}

@media (max-width: 575px) {
    .jumbotron h1{
        margin-top:32px;
    }
}
@media (max-width: 400px) {
    .jumbotron h1{
        font-size:3.5rem;
    }
}
    
@media (max-width: 575px) {
    .menu-items a i{
        font-size:95px;
    }
}

@media (max-width: 992px) {
    .cafe{
        padding-top:75px;
    }
}
